<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('ejs/head'); %>
</head>
<body>
    <% const estilo = "color:red;"; %> 
    <% if (mensaje) { %>
        <h1>Segundo Mensaje</h1>
        <h2 style=<%= estilo %>> <%= mensaje %> </h2>

    <% } %> 
</body>
</html>